snippet after
	after do
	  ${1}
	end

snippet before
	before do
	  ${1}
	end

snippet configure
	configure do
	  ${1}
	end

snippet helpers
	helpers do
	  ${1}
	end

snippet get
	get '${1:/}' do
	  ${2:}
	end

snippet post
	post '${1:/}' do
	  ${2:}
	end

snippet put
	put '${1:/}' do
	  ${2:}
	end

snippet delete
	delete '${1:/}' do
	  ${2:}
	end
